body {
    margin: 0;
}

p {
    margin: 0;
}

.header {
    width: 600px;
}

.logo {
    padding-left: 30px;
}

.phone {
    padding-right: 30px;
}

.logo,
.phone {
    padding-top: 10px;
    padding-bottom: 10px;
}

.phone a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.contact {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

h1 {
    padding-left: 30px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}

.main-img {
    padding-bottom: 15px;
    width: 100%;
}

.main-text {
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.button {
    margin-bottom: 25px;
    padding-left: 30px;
    display: inline-block;
    text-decoration: none;
}

.button td {
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.button a {
    text-decoration: none;
}

.button h4 {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.grey {
    margin-top: 25px;
}

.grey td {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 200px;
    height: 195px;
    background-color: #ededf5;
    text-align: center;
}

.grey h5 {
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.grey p {
    width: 166px;
    height: 58px;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    font-family: "Arial";
    text-align: center;
}

.name-house {
    padding-top: 15px;
    padding-right: 25px;
    width: 260px;
    vertical-align: top;
}

.price h3 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}


.price a {
    text-decoration: none;
}

.price p {
    /* padding-bottom: 15px; */
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
}

.view-house {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.discount {
    background-image: url('https://raw.githubusercontent.com/likbez2014/hata_newsletter/master/img/container.jpg'); 
} 

.discount td {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.discount h6 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}

.discount p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
}

.discount a {
    text-decoration: none;
}

.footer {
    background-color: #08081a;
}